body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    color: #333;
  }
  .responsive-image {
    width: 50%; /* Image will take 50% of its container */
    height: auto;
}

  .projects {
    margin-top: 20px;
  }
  
  .project {
    background: #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .project h2 {
    color: #555;
  }
  