body{background-color:pink;}
h1 {font-size: 60px;font-family:Verdana, Geneva, Tahoma, sans-serif ;color: brown;text-align:center ;}
p{
    border: 2px solid powderblue;
margin: 100px
}
#kabaw{
    color: rgb(171, 100, 237);
}
center{
    color: brown;
}
